body {
    background: #000000;
    display: flex;
}

.container {
    width: 700px;
    height: 850px;
}

.tab-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 695px;
}

table {
    border: 0.5px solid #ffffff; /*границы вокруг таблицы*/
    color: #ffffff;
    text-align: left;
    border-collapse: collapse; /*гоизонтальные линии таблицы*/ 
}

th, td {
    border-bottom: 0.5px solid #f0f0f0; 
    color: #ffffff;
    height: 50px;
}

#title_row_1 {
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#column_1_1 {
    width: 300px;
    padding-left: 10px;
}

#column_1_2 {
    width: 200px;
}

#column_1_3 {
    width: 200px;
}

#row_1, #row_2, #row_3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #eceaea;
    padding-left: 10px;
}

#row_1_1, #row_2_1, #row_3_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #bbbbbb;
    padding-left: 10px;
    }

#row_1_2, #row_2_2, #row_3_2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #bbbbbb;
    padding-left: 10px;
}

#row_1_3, #row_2_3, #row_3_3 {
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.img1 {
    padding-left: 5px;
}

#row_3_1, #row_3_2, #row_3_3 {
    border-bottom: 0;
}